<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-white">Sign up</h1>
    <form method="post" action="{% url 'send_otp' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Sign up</button>
        <a href="{% url 'signin' %}">Already have an account? Sign in</a>
    </form>

    {% if messages %}
        {% for message in messages %}
        <p style="color: {% if message.tags == 'error' %}red{% elif message.tags == 'success' %}green{% else %}blue{% endif %};">{{ message }}</p>
        {% endfor %}
    {% endif %}

</body>
</html>